  #map {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 500px;
  }
    
  /*General marker style*/
  .map-marker {
    position: relative;
    text-align: center;
    font-weight: bold;
    background: darkblue;
    width: 26px;
    height: 26px;
    border-radius: 5px;
    margin-top: -34px; /*Shift by arrow top+height*/
    margin-left: -13px; /*Shift by half the marker width*/
  }
  
  .map-marker div.arrow {
    position: relative;
    border-style: solid;
    border-color: darkblue transparent transparent transparent;
    border-width: 10px 6px 0 6px; /*Arrow w/h is defined by the borders*/
    left: 7px; /*(Marker width - arrow width)/2*/
    width: 0px; height: 0px;
  }
  
  .map-marker div.icon {
    position: relative;
    overflow: hidden;
    background-repeat:no-repeat;
    background-position:center;
    background-color: white;
    width: 24px; /*Same as marker width*/
    height: 24px; /*Same as marker height*/
    line-height: 24px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 1px;
    margin-top: 1px;
    margin-right: 1px;
  }
  .alerte .leaflet-popup-tip{
    opacity: 0;
  }
  .alerte .leaflet-popup-content-wrapper {
    margin-bottom: 25px;
    background: #e93434;
    color: #ffffff;
  }

  .tvb .leaflet-popup-tip{
    opacity: 0;
  }
  .tvb .leaflet-popup-content-wrapper {
    margin-bottom: 25px;
    background: green;
    color: #ffffff;
  }

  .na .leaflet-popup-tip{
    opacity: 0;
  }
  .na .leaflet-popup-content-wrapper {
    margin-bottom: 25px;
    background: violet;
    color: #ffffff;
  }


  /*Marker color instances*/
  /*
  .map-marker.red div.icon{background: #ff2222;}
  
  .map-marker.green div.icon{background: #008800;color: #fff;}
  .map-marker.green {background: #000;}
  .map-marker.green div.arrow{border-top-color: #000;}
  */
  /*Marker states*/
  /*.map-marker.inactive {
    opacity: 0.6;
  }
  */